# Tool Runtime Dir
/[Tt]ools/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.dotnet/
.nuget/

# Cross building rootfs
cross/rootfs/

# Visual Studio 2015
.vs/

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NuGet Packages
*.nuget.props
*.nuget.targets
*.nupkg
**/packages/*

# NuGet package restore lockfiles
project.lock.json