language: csharp
dotnet: 1.0.4
addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1

matrix:
  include:
    - os: linux
      mono: none
      dist: trusty
      sudo: required
      env: CONFIGURATION=Release
    - os: osx
      mono: none
      osx_image: xcode8.2
      env: CONFIGURATION=Release

install:
  # Display dotnet version info 
  - which dotnet;
    if [ $? -eq 0 ]; then
      echo "Using dotnet:";
      dotnet --info;
    else
      echo "dotnet.exe not found"
      exit 1;
    fi

  - if test "$TRAVIS_OS_NAME" == "linux"; then nvm install stable && nvm use stable; fi
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fiopenssl; ulimit -S -n 8192;fi

before_script: 
 - chmod a+x ./build.sh
 
script:
  - ./build.sh
