version: 0.1.{build}
pull_requests:
  do_not_increment_build_number: true
build_script:
- cmd: powershell .\build.ps1 --target=PR
test: off
deploy: off
branches:
  only:
  - dev
notifications:
- provider: GitHubPullRequest
  auth_token:
    secure: piw+WL560Al3Ss5q76/t2BjHN/uhQ6tFKji96lTAzsFN0X2QhNk6XacPo+Zf6iWY
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
